.notification {
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    display: block;
    max-width: 400px;
    padding: 16px;
    text-align: center;
    border-radius: 3px;
    animation: slide 0.5s;
}

.error {
    background-color: lightcoral;
}

.success {
    background-color: lightgreen;
}

@keyframes slide {
    from {
        bottom: -48px;
    }
    to {
        bottom: 10px;
    }
}